@font-face {
    font-family: "JetBrains Mono";
    src: url("/JetBrainsMono.ttf");
}

:root {
    color-scheme: dark light;
}

.hidden {
    display: none;
}

#ships-container.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: JetBrains Mono, monospace;
    background-color: #0d213344;
    color: white;
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header */
header {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/* Game container */
#game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#ships-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* UI */
#ships {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.play-btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.play-btn:hover {
    background-color: #2e579d;
}

/* Cells */

cell {
    position: relative;
    border: 1px solid white;
}

cell::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 0s ease;
}

/* .board-top.select > */
.board-top > cell:hover::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
