:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #0d213344;
    color: white;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

/* Gameboard */

#boards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    transform: rotateX(45deg) rotateZ(30deg);
    /* transform: rotate(30deg) skew(-30deg); */
}

board {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.board-top {
    width: 25vw;
    height: 25vw;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    background-image: url(/water.gif);
    background-size: cover;
}

.board-side {
    filter: brightness(0.7);
    justify-self: left;
    width: 2.5vw;
    height: 25vw;

    background-image: url(/water.gif);
    background-size: cover;
    transform: skewY(60deg) rotate(180deg) translateY(-9%);
}

.board-front {
    filter: brightness(0.5);
    width: 25vw;
    height: 4.5vw;

    background-image: url(/water.gif);
    background-size: cover;
    transform: skewX(30deg) translateX(5%);
}

cell {
    position: relative;
    border: 1px solid white;
    /* background-color: rgb(58, 137, 218); */
}

cell::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.1s ease;
}

cell:hover::after {
    background: rgba(0, 0, 0, 0.5); /* adjust transparency as needed */
}

@media (max-width: 800px) {
    #boards-container {
        grid-template-columns: 1fr;
        width: 50vw;
        height: 200vw;
    }

    #p1-board {
        transform: translateX(-25%) translateY(50%) scale(1.5);
    }

    #cpu-board {
        transform: translateX(75%) translateY(25%) scale(1.5);
    }

    .board-top {
        width: 100%;
        height: 100%;
    }

    .board-side {
        height: 100%;
    }

    .board-front {
        width: 100%;
    }
}

/* Ships */

.ship {
    background-image: none;
    background-color: rgb(112, 112, 112);
}

.miss {
    background-image: none;
    background-color: rgb(13, 33, 51);
}

.hit {
    background-image: none;
    background-color: red;
}

.sunk {
    background-image: none;
    background-color: hsl(125, 60%, 48%);
}
