/* UI Ships */

#ships-container.hidden {
    display: none;
}

#ships-container {
    margin-left: 10svw;
    align-self: start;
    display: grid;
    height: 20vw;
    gap: 1rem;
}

#ships {
    display: grid;
    grid-template-columns: 1fr;

    gap: 1.5rem;
    height: 100%;
}

.ui-ship {
    justify-self: ce;
    display: flex;
}

.ui-ship > cell {
    min-height: 2.3vw;
    min-width: 2.3vw;
}

@media (max-width: 800px) {
    #ships-container {
        margin-left: 0;
        align-self: center;
    }

    #ships-container > #ships {
        grid-template-columns: 1fr 1fr;
    }

    .ui-ship > cell {
        min-height: 5.7vw;
        min-width: 5.7vw;
    }
}

/* Board Ships */

.ship {
    background-image: none;
    background-color: rgb(112, 112, 112);
}

.miss::after {
    background-image: none;
    background-color: rgb(13, 33, 51);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hit::after {
    background-image: none;
    background-color: red;
    border-radius: 50%;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sunk::after {
    background-image: none;
    background-color: hsl(125, 60%, 48%);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
